@using MakQR.Models.Home
@model FooterSection
 <footer class="hotel-footer">

    <div class="footer-box">

        <!-- Left -->
        <div class="footer-col">
            <img src="./images/ChatGPT_Image_Feb_3__2026__12_25_12_PM-removebg-preview.png" class="logo" asp-append-version="true">
            <span class="logo-text">MAK Hotel</span>
            <p class="company">MAK Enterprise Pvt. Ltd.</p>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                222, 6th Main Rd, Amarjyoti Layout,<br>
                Domlur, Bengaluru,<br>
                Karnataka 560008
            </p>
        </div>

        <!-- Middle -->
        <div class="footer-col" style="padding-top: 45px;">
            <h4>Contact Us</h4>
            <p><i class="fa-solid fa-phone"></i> @Model.Phone1</p>
            <p><i class="fa-solid fa-phone"></i> @Model.Phone2</p>
            <p><i class="fa-solid fa-phone"></i> @Model.Phone3</p>
            <p><i class="fa-solid fa-envelope"></i>@Model.Email</p>
        </div>

        <!-- Right -->
        <div class="footer-col" style="padding-top: 45px;">
            <h4>Follow Us</h4>

            <div class="social-icons">
                <a href="@Model.Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="@Model.Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="@Model.Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

    </div>

    <p class="tagline">
        @Model.TagLine
    </p>

    <div class="gold-line"></div>

    <p class="copy">
        © 2026 MAKHotel. All Rights Reserved.
    </p>

</footer>